body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

h1{
    margin-bottom: 50px;
    font-size: 35px;
    border: 3px solid gray;
    background-color: white;
    padding: 10px;
}

table, th, td{
    border: 2px solid black;
    padding: 20px;
    font-size: 25px;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}

th{
    background-color: lightgray;
    font-size: 25px;
}

td{
    background-color: lightblue;
}

a{
    color: #3A4747; 
    text-decoration: none;
}

a:hover{
    color: green;
}

p{
    margin-top: 40px;
    border: 3px solid gray;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
